* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: snow;
    overflow-x: hidden;
    width: 100vw;
}

header {
    background-color: black;
}
.smaller-screens {
    padding: 0 .5rem;
    max-height: 4rem;
    height: 10%;
    width: 100%;
 
}


.desktop-screens a {
    display: none;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 4rem;
    transition: 1s;
}

.side-nav a {
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    font-size: 1rem;
    color: snow;
    transition: 0.8s;
}
.nav:hover {
    background-color: cadetblue;
}

.side-nav .close-button {
    position: absolute;
    top: 0;
    right: 3rem;
    font-size: 2rem;
    margin-left: 5rem;
}

.open-button {
    font-size: 2.5rem;
    cursor: pointer;
   background-color: black;
    color: snow;
    padding: 1rem 1.5rem;
    border: none;
}

.open-button:hover {
    background-color: black;
}


.contact {
    position: absolute;
    bottom: 1rem;
    display: flex;
}
main {
    height: 80%;
}


img {
     margin: 1.5rem
}
ul {
    font-size: 0.8rem;
    padding: 0 1rem;
}
li {
    list-style: none;
}

footer {
    padding: .5rem 0;
    background-color: black;
    height:10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: .5rem;
}


/* MEDIA QUARIES */

@media (min-width: 768px) {
    footer {
        font-size: 1rem;
    }

    .content-info {
        font-size: 1.1rem;
    }
    img {
        margin: 4rem;
        width: 400px;
    }
}
@media (min-width: 900px) {

  .smaller-screens {
      display: none;
  }
    /* .desktop-screens {
    background-color: black;
} */
    .desktop-screens a {
        display: unset;
        padding: 1rem;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
       
      
       
        
    }
}





/* REUSABLE CLASSES */

.flex { display: flex;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-center {align-items: center;}
.column {flex-direction: column;}
.text-center {text-align: center;}