* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: snow;
    overflow-x: hidden;
    width: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: black;
}

/* Desktop */

.desktop-screens a {
    display: none;
}

/* Mobile-first */

.smaller-screens {
    padding: 0 .5rem;
    max-height: 4rem;
    height: 10%;
    width: 100%;
 
}

/* Sidebar */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 4rem;
    transition: 1s;
}

.side-nav a {
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    font-size: 1rem;
    color: snow;
    transition: 0.8s;
}
.nav:hover {
    background-color: cadetblue;
}

.side-nav .close-button {
    position: absolute;
    top: 0;
    right: 3rem;
    font-size: 2rem;
    margin-left: 5rem;
}

.contact-side {
    position: absolute;
    bottom: 1rem;
   
}

/* Hamburger-menu */
.open-button {
    font-size: 2.5rem;
    cursor: pointer;
    background-color: black;
    color: snow;
    padding: 1rem 1.5rem;
    border: none;
}

.open-button:hover {
    background-color: black;
}


/* Main-content */
main {
    height: 80%;
}


h2 {
    letter-spacing: 5px;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
  padding: 1rem 0;
  border-radius: 50%;
     
}

.content-info {
    padding: 1rem;
    
}
.contact-main {
    display: none;
}
.email-contact  {
    font-size: 1rem;
    color: snow;
    text-decoration: none;
}
/* Timeline */



.header-timeline {
    color: snow;
    text-align: center;
    margin-top: 8%;
    letter-spacing: 5px;
}



.line {
    width: 70%;
    height: 1px;
    background-color: snow;
    position: absolute;
    bottom: 20%;
    left: 15%;
}


.content-timeline {
    width: 70%;
    height: 1rem;
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 15%;
    bottom: 20%;
  
}
.start-end {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
   
    position: relative;
    color: snow;
}

button {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
}

.circle-button {
    position: relative;
}

/* displays */

.item-info {
    margin-top: 1rem;
    color: snow;
    font-weight: bold;
    font-size: .5rem;
    display: none;
   
}




.flex { display: flex;}
.flex-row {flex-direction: row;}
.justify-between {justify-content: space-between;}
.align-center {align-items: center;}






/* REUSABLE CLASSES */

.flex { display: flex;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-center {align-items: center;}
.column {flex-direction: column;}
.text-center {text-align: center;}